<header class="pt-3 pb-3 bg-white main-header">
  <div class="container">
    <a
      href="/"
      title="National Institute for Health and Care Research (NIHR)"
      class="main-logo img-fluid"
    >
      <img src="https://via.placeholder.com/480x48" alt="Placeholder" />
      <!-- <img
        src="{{webRoot}}/assets/images/national-institute-for-health-and-care-research-nihr-logo.svg"
        alt="National Institute for Health and Care Research (NIHR)"
    /> -->
    </a>
  </div>
</header>
