<nav id="main-navigation" class="navbar navbar-expand-lg navbar-light bg-light bg-grey-20">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Components & Elements
          </a>
          <ul class="dropdown-menu">
            <li><h6 class="dropdown-header">Components</h6></li>
            <li>
              <a class="dropdown-item" href="{{webRoot}}/pages/header.html">Header</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{webRoot}}/pages/search-components.html">Search</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{webRoot}}/pages/search-filters.html"
                >Search filters</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{{webRoot}}/pages/explore-other-sites.html"
                >Explore Other Sites</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{{webRoot}}/pages/nihr-newsletter.html"
                >NIHR Newsletter</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{{webRoot}}/pages/footer.html">Footer</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><h6 class="dropdown-header">Elements</h6></li>
            <li>
              <a class="dropdown-item" href="{{webRoot}}/pages/search-elements.html"
                >Search Input</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{{webRoot}}/pages/typography.html">Typography</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{webRoot}}/pages/grid.html">Grid</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{webRoot}}/pages/forms.html">Forms</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{webRoot}}/pages/buttons.html">Buttons</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{webRoot}}/pages/alerts.html">Alerts</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://getbootstrap.com/"
            >Bootstrap <i class="fa-solid fa-up-right-from-square"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://nihr.atlassian.net/wiki/spaces/CDS/overview?homepageId=41091991"
            >Confluence DS <i class="fa-solid fa-up-right-from-square"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/nihruk/cds"
            >GitHub DS <i class="fa-solid fa-up-right-from-square"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://nihr-web.atlassian.net/jira/software/projects/CDS/boards/13"
            >Jira Board DS <i class="fa-solid fa-up-right-from-square"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
