# This configuration implements GOV.UK's requirements from June 2022.
# See https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices
> 0.1%
last 2 Chrome versions
last 2 Firefox versions
last 2 Edge versions
last 2 Samsung versions
Safari >= 12
IE 11
iOS >= 12.1
