<div id="nihr-newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="https://via.placeholder.com/600x400" alt="Placeholder" class="img-fluid" />
      </div>
      <!-- / .col -->
      <div class="col-md-9 d-flex align-items-stretch justify-content-between flex-column">
        <h2 class="title mb-lg-0 heading-underline heading-underline--coral">NIHR newsletter</h2>

        <p class="mb-lg-0">Sign up for news, annoucements, events and more.</p>

        <button type="button" class="btn btn-primary btn-lg align-self-start">Signup today</button>
      </div>
      <!-- / .col -->
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container-->
</div>
<!-- / #nihr-newsletter -->
