@import 'highlight.js/styles/github.css';
@import '../../assets/scss/abstracts/sass-variables';


.ds-color-specifications dt:not(:first-child)::before {
  content: '\A';
  white-space: nowrap;
}

.ds-color-specifications dt,
.ds-color-specifications dd {
  display: inline;
}

.ds-color-sample {
  height: 3rem;
}

.example {
  border: 2px solid $navy-60;
  padding: 2px;
}

.example-caption {
  color: $navy-100;
  border-left: 2px solid $navy-60;
  margin-bottom: 0;
  padding-left: 1rem;
}

.example-code {
  background-color: $grey-20;
  border-left: 2px solid $navy-60;
  max-height: 20rem;
  overflow: scoll;
  padding: 1rem;
}