@import 'highlight.js/styles/github.css';
@import '../../assets/scss/theme.scss';


.ds-color-specifications dt:not(:first-child)::before {
  content: '\A';
  white-space: nowrap;
}

.ds-color-specifications dt,
.ds-color-specifications dd {
  display: inline;
}

.ds-color-sample {
  height: 3rem;
}

.example {
  border: 2px solid $navy-20;
}

.example-html-render {
  border-bottom: 2px solid $navy-20;
}

.example-code {
  background-color: $grey-20;
  max-height: 20rem;
  overflow: scroll;
}

.component-options {
  border-top: 2px solid $navy-20;
}
