.hero {
    padding: 2rem;
}

.hero-blue {
    background: $navy;

        h1, h2, h3, h4, h5, h6, p, a {
            color: white;
        }
}
  
.hero-coral {
    background: $coral;
}

.hero-white {
    background: white;
}