.inset-text {
    border-left: 8px solid $coral;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: 1.5rem;
}

.inset-text>*:last-child {
    margin-bottom: 0;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}