#main-navigation {
  @include media-breakpoint-up(lg) {
    padding: 0;

    .nav-item {
      height: 4.375rem;
      padding: 1.25rem 1rem;
  
    &:has(.nav-link.active) {
      border-bottom: 4px solid $navy;
    }
    }  

    .nav-link {
      color: $navy;
      font-size: $font-size-sm;
      font-weight: bold;
      padding: 0;

      @include media-breakpoint-up(lg) {
      font-size: $font-size-lg;
      }

      &:hover {
        color: $navy;
        text-decoration: underline;
        text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
      }
      
      &:focus {
        background-color: $interaction-focus;
        box-shadow: 0 0 #fed47a, inset 0 -4px $black;
        color: $black;
        outline: 3px solid transparent;
        text-decoration: none;
        transition: 0s;
      }

      &:not(:hover):not(:active) {
        text-decoration: none;
      }
    }
  }
}
