.main-header {
  .main-logo {
    padding: 0.5rem;
    
    img {
      max-width: 100%;
    }
  }

  .search-form {
    margin: 1rem 0 0;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }

  .service-header-link {
    margin-top: 1.5rem;
    margin-bottom: 0;
    margin-left: 0.75rem;
    padding: 0;
    text-decoration: none;
    width: max-content;
  }
}
