.main-header {
  .main-logo {
    padding-bottom: 2px;
    
    img {
      max-width: 100%;
    }
  }

  .search-form {
    margin: 1rem 0 0;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }
}
