#main-navigation {
  @include media-breakpoint-up(lg) {
    padding: 0;

    .nav-link {
      padding: 1.25rem 1rem;
      font-size: $font-size-sm;
      font-weight: bold;
      color: $navy;

      @include media-breakpoint-up(lg) {
      font-size: $font-size-lg;
      }

      &.active,
      &:hover {
        background-color: $navy;
        color: #fff;
      }
    }
  }
}
