#main-navigation {
  @include media-breakpoint-up(lg) {
    padding: 0;

    .nav-link {
      padding: 1.25rem 1rem;
      font-size: $font-size-sm;
      font-weight: bold;
      color: $navy;

      @include media-breakpoint-up(lg) {
      font-size: $font-size-lg;
      }

      &.active,
      &:hover {
        background-color: $navy;
        color: #fff;
      }
      
      &:focus {
        background-color: $interaction-focus;
        box-shadow: 0 0 #fed47a, inset 0 -4px $black;
        color: $black;
        outline: 3px solid transparent;
        text-decoration: none;
        transition: 0s;
      }
    }
  }
}
