.secondary-navigation {
  li {
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    position: relative;

    .nav-link {
      display: inline-flex;
      padding: 0;

      &.active {
        background-color: inherit;
        color: $navy;
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0;
      }
  
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
      }
  
      &:focus {
        background-color: $interaction-focus;
        box-shadow: 0 0 $interaction-focus, inset 0 -4px $black;
        color: $black;
        outline: 3px solid transparent;
        text-decoration: none;
        transition: 0s;
  
        &:not(:hover) {
          text-decoration: none;
        }
      }
    }

    .nav-link.active::after {
      box-shadow: inset 4px 0 0 0 #193e72;
    }
  }
}