// Buttons

$btn-padding-x-lg: 24px;
$btn-padding-y-lg: 15px;
$btn-font-size-lg: 22px;

$btn-padding-x: 20px;
$btn-padding-y: 11px;
$btn-font-size: 19px;
$btn-line-height: 22px;

$btn-padding-x-sm: 16px;
$btn-padding-y-sm: 7px;
$btn-font-size-sm: 16px;

$btn-padding-x-xs: 12px;
$btn-padding-y-xs: 3px;
$btn-font-size-xs: 14px;

$btn-border-radius: 30px;
$btn-border-radius-sm: 30px;
$btn-border-radius-lg: 30px;

$btn-border-width: 2px;
