// Inputs

$input-border-color: $navy;
$input-placeholder-color: $navy-80;
$input-border-radius-lg: 37px;
$form-check-input-border: 1px solid rgba($navy, 1);

$form-check-input-width: 2em;
$form-check-min-height: 2em;
$form-check-margin-bottom: 0.5rem;
