// Inputs

$input-border-color: $navy;
$input-placeholder-color: $navy-80;
$input-border-radius-lg: 37px;
$form-check-input-border: 2px solid rgba($black, 1);

$form-check-input-width: 2em;
$form-check-min-height: 2em;
$form-check-margin-bottom: 0.5rem;

.form-check {
    position: relative;
}

.form-check .form-check-input[type="checkbox"] {
    border-radius: 0;
    position: absolute;
    top: 4px;
}

.form-check .form-check-label {
    margin-bottom: 0;
    font-size: 1.375rem; // 22px
    line-height: 1.4545; // 32px
    touch-action: manipulation;
}

