{#
@macro button
@param {string} label
       The human-readable button label.
@param {boolean} [large=false]
       Whether to display a large Search component.
@param {boolean} [disabled]
       Whether the button must be disabled. Defaults to FALSE.
@param {boolean} [secondary]
       Whether the button represents a secondary/non-default action. Defaults to FALSE.
@param {boolean} [danger]
       Whether the button represents a dangerous action. Defaults to FALSE.
#}
{% macro button(options) %}
<button
    type="button"
    class="
        btn
        btn{% if options.secondary | default(false) %}-outline{% endif %}{% if options.danger | default(false) %}-danger{% else %}-primary{% endif %}
        {% if options.large | default(false) %}btn-lg{% endif %}
    "
    {% if options.disabled | default(false) %}disabled{% endif %}
>{{ options.label }}</button>
{% endmacro %}
