{#
@macro button
@param {string} label
       The human-readable button label.
@param {string} [size]
       Display a large button. This MUST be "lg".  Defaults to the default size.
@param {boolean} [disabled]
       Whether or not the button must be disabled.  Defaults to FALSE.
@param {boolean} [secondary]
       Whether or not the button represents a secondary/non-default action. Defaults to FALSE.
@param {boolean} [danger]
       Whether or not the button represents a dangerous action. Defaults to FALSE.
#}
{% macro button(options) %}
<button
    type="button"
    class="
        btn
        btn{% if options.secondary | default(false) %}-outline{% endif %}{% if options.danger | default(false) %}-danger{% else %}-primary{% endif %}
        {% if options.size is defined %}btn-{{ options.size }}{% endif %}
    "
    {% if options.disabled | default(false) %}disabled{% endif %}
>{{ options.label }}</button>
{% endmacro %}
