{#
@macro card
@param {string} heading
      The human-readable category heading.
@param {string} content
      The human-readable content of the card.
@param {string|null} [image=null]
      The image.
#}
{% macro card(options) %}
    <section id="card-text-only" class="bg-white">
      <div class="container overflow-hidden pb-5">
        <h2 class="mt-5">Text only cards</h2>
        <div class="row gap-3">
          <div class="col-md">
            <div class="card h-100">
              {% if options.image | default(null) %}
                <img src="{{ options.image }}" class="card-img-top" alt="">
              {% endif %}
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title h3 heading-underline heading-underline--coral">{{ options.heading }}</h2>
                    <p class="card-text">{{ options.content }}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endmacro %} 