{#
    @typedef {object} CardCTA
    @property {string} heading
                The human-readable category heading.
    @property {string} content
                The human-readable content of the card.
    
    @macro card
    @param {CardCTA} first
            The first card.
    @param {CardCTA} middle
            The middle card.
    @param {CardCTA} last
            The last card.
    #}
{% macro card(options) %}
    <section id="cta-card" class="bg-white">
      <div class="container overflow-hidden pb-5">
        <h2 class="mt-5">Single CTA cards</h2>
        <div class="row gap-3">
          {% for category in [options.first, options.middle, options.last] %}
          <div class="col-md">
            <div class="card h-100">
                <div class="card-body">
                    <a href="{{ category.heading.link }}">
                        <h2 class="card-title h3">{{ category.heading.label }}</h2>
                    </a>
                    <p class="card-text">{{ category.content }}</p>
                </div>
            </div>
          </div>
          {%- endfor %}
        </div>
      </div>
    </section>
{% endmacro %} 