{#
@typedef {object} Card
@property {string} heading
          The human-readable category heading.
@property {Array<Link>} links
          The card's navigation links.

@typedef {object} Link
@property {string} href
          The link's `href` value.
@property {string} label
          The human-readable link label.

@macro explore
@param {Card} first
       The first card.
@param {Card} middle
       The middle card.
@param {Card} last
       The last card.
#}
{% macro explore(options) %}
<section id="explore" class="bg-white">
  <div class="container overflow-hidden">
    <h1>Explore other sites</h1>
    <div class="row gy-3 gy-sm-3 g-md-4 g-lg-5">
      {% set color = cycler('text-grey-5', 'text-black') %}
      {% for category in [options.first, options.middle, options.last] %}
        <div class="col-lg-4">
          <div class="wrapper">
            <h2 class="fw-bold display-6 {{ color.next() }}">{{ category.heading }}</h2>
            <ul>
              {% for link in category.links %}
                <li>
                  <a href="{{ link.href }}">{{ link.label }}</a>
                </li>
              {%- endfor %}
            </ul>
          </div>
        </div>
      {%- endfor %}
    </div>
  </div>
</section>
{% endmacro %}
