{% from 'macros/component/search.html' import search %}
{#
@macro header
@param {object|null} [search=null]
       The arguments to the Search component.
@param {string|null} [serviceTitle=null]
       The title of the service site.  
#}
{% macro header(options) %}
<header class="pt-3 pb-3 bg-white main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 d-flex">
                <a href="/" title="National Institute for Health and Care Research (NIHR)" class="main-logo"
                ><img src="https://www.nihr.ac.uk/layout/4.0/assets/logos/nihr-master-logo-325px.png"
                      alt="The NIHR logo">
                </a>
            </div>
            {% if options.search | default(null) %}
              <div class="col-md-4">
                  {{ search(options.search) }}
              </div>
            {% endif %}
        </div>
        {% if options.serviceTitle | default(null) %}
            <div class="row">
                <a href="/" class="h4 service-header-link">{{ options.serviceTitle }}</a>
            </div>
        {% endif %}
    </div>
</header>
{% endmacro %}
