{% from 'macros/component/search-form.html' import searchForm %}
{#
@macro header
@param {object|null} [searchForm=null]
       The arguments to the Search Form component.
@param {string|null} [serviceTitle=null]
       The title of the service site.  
#}
{% macro header(options) %}
<header class="pt-3 pb-3 bg-white main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <a href="/" title="National Institute for Health and Care Research (NIHR)" class="main-logo"
                ><img src="https://www.nihr.ac.uk/layout/4.0/assets/logos/nihr-master-logo-325px.png"
                      alt="The NIHR logo">
                </a>
            </div>
            {% if options.searchForm | default(null) %}
              <div class="col-md-4">
                  {{ searchForm(options.searchForm) }}
              </div>
            {% endif %}
        </div>
        {% if options.serviceTitle | default(null) %}
            <div class="row">
                <a href="/" class="text-decoration-none h4 mt-3 mb-0">{{ options.serviceTitle }}</a>
            </div>
        {% endif %}
    </div>
</header>
{% endmacro %}
