{#
    @macro hero
    @param {string|null} [headingOne=null]
          The human-readable category heading.
    @param {string|null} [contentOne=null]
          The human-readable content of the card.
    @param {string|null} [headingTwo=null]
          The human-readable category heading.
    @param {string|null} [contentTwo=null]
          The human-readable content of the card.
    @param {string|null} [imageOne=null]
          The first image's src attribute value.
    @param {string|null} [imageTwo=null]
          The second image's src attribute value.
    @param {string|null} [heroBackground=null]
          A supported background colour, lower-case.
    @param {string|null} [cardOneBackground=null]
          A supported background colour, lower-case. 
    @param {string|null} [cardTwoBackground=null]
          A supported background colour, lower-case.                   
#}
{% macro hero(options) %}
<section class="hero {{ options.heroBackground }}">
    <div class="container">
        <div class="row gap-5">
            {% if options.headingOne | default(null) %}
            <div class="col">
                <div class="card h-100 {{ options.cardOneBackground }}">
                    <div class="card-body d-flex flex-column">
                        <h2 class="card-title h3 heading-underline heading-underline--coral">{{ options.headingOne }}</h2>
                        <p class="card-text">{{ options.contentOne }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if options.headingTwo | default(null) %}
            <div class="col">
                <div class="card h-100 {{ options.cardTwoBackground }}">
                    <div class="card-body d-flex flex-column">
                        <h2 class="card-title h3 heading-underline heading-underline--coral">{{ options.headingTwo }}</h2>
                        <p class="card-text">{{ options.contentTwo }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if options.imageOne | default(null) %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ options.imageOne }}" class="w-100" alt="">
                </div>
            </div>
            {% endif %}
            {% if options.imageTwo | default(null) %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ options.imageTwo }}" class="w-100" alt="">
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endmacro %} 