{#
    @macro hero
    @param {'navy'|'coral'} [backgroundColor='navy']
          The hero's background color.
    @param {string|null} [body=null]
          The hero's main body content, if any.             
#}
{% macro hero(options) %}
    <section class="hero hero--{{ options.backgroundColor | default('navy') }}" aria-description="hero section">
        <div class="container">    
            {% if options.body %}
                {{ options.body }}
            {% endif %}
        </div>
    </section>
{% endmacro %}
