{#
@macro selectInput
@param {string} label
       The human-readable input label.
@param {object} options
       Keys are each option's value, and values are options' human-readable value labels.
@param {string} [value]
       The value of the currently selected option.
@param {boolean} [required=false]
       Whether the input is required.
@param {boolean} [disabled=false]
       Whether the input must be disabled.
@param {boolean} [invalid=false]
       Whether the input's state is valid.
@param {string|null} [id=null]
       The element's ID.
#}
{% macro selectInput(options) %}
{% set id = options.id | default(generateId()) %}
<label for="{{ id }}" class="form-label">{{ options.label }}</label>
<select
        class="form-select{% if options.invalid | default(false) %} is-invalid{% endif %}"
        aria-label="{{ options.label }}"
        {% if options.required | default(false) %}required{% endif %}
        {% if options.disabled | default(false) %}disabled{% endif %}
>
    {% for value, label in options.options %}
        <option value="{{ value }}"{% if options.value is defined and options.value == value %} selected{% endif %}>{{ label }}</option>
    {%- endfor %}
</select>
{% endmacro %}
