{% macro _tableCell(cell, head) %}
{% if cell is not null and (cell.headerScope is defined or head) %}
       {% set openTag %}<th scope="{{ cell.headerScope }}">{% endset %}
       {% set closeTag %}</th>{% endset %}
{% else %}
       {% set openTag %}<td>{% endset %}
       {% set closeTag %}</td>{% endset %}
{% endif %}
{{ openTag | safe }}
       {% if cell is not null %}
              {{ cell.body | default(cell) }}
       {% endif %}
{{ closeTag | safe }}
{% endmacro %}

{% macro _tableRow(row, head=null) %}
<tr>
       {% for cell in row %}
              {{ _tableCell(cell, head) | safe }}
       {% endfor %}
</tr>
{% endmacro %}

{#
@typedef {string} CellBody
         The cell's body.

@typedef {object} Cell
@property {CellBody} body
@property {string|null} [headerScope=null]
          The [scope](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/th#scope) for this cell's `<th>` tag.
          Setting this renders the cell as a `<th>`. This is required for all table head cells.

@macro table
@param {Array<Array<Cell|CellBody>} head
       The rows in the table head. Each `Cell` **must** have a `headerScope`.
@param {Array<Array<Cell|CellBody>} body
       The rows in the table body.
@param {string|null} [caption=null]
The table caption.
#}
{% macro table(options) %}
{% filter safe %}
<table class="table">
       {% if options.caption is defined %}
              <caption>{{ options.caption }}</caption>
       {% endif %}
       <thead>
              {% for row in options.head %}
                     {{ _tableRow(row, true) | safe }}
              {% endfor %}
       </thead>
       <tbody>
              {% for row in options.body %}
                     {{ _tableRow(row) | safe }}
              {% endfor %}
       </tbody>
</table>
{% endfilter %}
{% endmacro %}
