name: Test

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: 'Node.js 16'
            nodejs: '16'
          - name: 'Node.js 18'
            nodejs: '18'

    steps:
      - name: Check out the source code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.nodejs }}

      - name: Get the npm cache directory
        run: echo "npm_cache_dir=$(npm config get cache)" >> $GITHUB_ENV
        shell: bash

      - name: Cache npm
        uses: actions/cache@v3
        with:
          path: ${{ env.npm_cache_dir }}
          key: npm-${{ hashFiles('./package.json') }}
          restore-keys: |
            npm-

      - name: Install npm dependencies
        run: |
          npm install
        shell: bash

      - name: Run the tests
        run: |
          npm run test
        shell: bash
